{% extends "sidebar.html" %} {% block div %}
<div class="page_header mb-5">
{% if type == "Regular"%}
  <h2 class="dash_header">Dashboard-Regular User</h2>
{%else%}
  <h2 class="dash_header">Dashboard-Organizer</h2>
{% endif %}
  {% include 'flash_messages.html' %}
</div>

{% if type == "Regular"%}

<h4 class="grp_header ml-3 mb-4">
  My Groups
  <a
    href="{{ url_for('recommend', username=session.get('username')) }}"
    class="btn recom"
    >Recommend Matches</a
  >
</h4>
{% endif %} {% if type == "Regular" and not groups %}
<div class="alert alert-primary">
  You are not a member of any Groups
</div>
{% endif %} {% if type == "Organizer" %}
<h4 class="grp_header ml-3 mb-4">My Sets</h4>
{% endif %} {% if type == "Organizer" and not groups %}
<div class="alert alert-primary">
  You Currently Have No Sets
</div>
{% endif %}

<div class="row">
  {% if type == "Organizer" and groups %} {% for group in groups %}
  <div class="col-4 grid-spacing hovereffect text-left">
    <a href="{{ url_for('members', sid=group['sid']) }}">
      <button class="tile text-center img-responsive">
        <div class="tile-title mt-0 pt-0">
          {{ group['set_name'] }}
        </div>

        <div class="grp_title py-3">
          <span class="code">Set Code: {{ group['code'] }}</span>
        </div>
        <div class="overlay2">
          <h2 class="info mt-2">
            Group Purpose: <br />
            {{ group['purpose'] }}
          </h2>
        </div>
      </button>
    </a>
  </div>
  {% endfor %} {% endif %}

  <div class="col-4">
    {% if type == "Organizer" %}
    <a href="{{ url_for('createSet', username=session.get('username')) }}">
      <button class="tile add">
        <img
          src="../static/images/plus.png"
          width="50"
          height="50"
          data-toggle="tooltip"
          data-placement="right"
          title="Create a Set"
          class="img-add grow"
        />
      </button>
    </a>
    {% endif %}
  </div>
</div>

<div class="row">
  {% if type == "Regular" and groups %} {% for item in groups %}

  <div class="col-4 hovereffect">
    <a href="{{ url_for('members', sid=item['sid']) }}">
      <button class="tile text-center img-responsive">
        <div class="tile-title mt-0 pt-0">
          {{ item['set_name'] }}
        </div>

        <div class="overlay2">
          <h2 class="info mt-2">
            Group Purpose: <br />
            {{ item['purpose'] }}
          </h2>
        </div>
      </button>
    </a>
  </div>
  {% endfor %} {% endif %}

  <div class="col-4">
    {% if type == "Regular" %}
    <a href="{{ url_for('joinASet', username=session.get('username')) }}">
      <button class="tile add ml-5">
        <img
          src="../static/images/plus.png"
          width="50"
          height="50"
          data-toggle="tooltip"
          data-placement="right"
          title="Join a Set"
          class="img-add grow"
        />
      </button>
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
