<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="container-fluid text-center text-md-left">
    <div class="row ml-5 pt-3">
      <div class="col-4 mx-auto p-3 text-left py-5">
        <img
          src="/static/images/Footer Logo.png"
          class="d-inline-block align-top mr-1"
          alt=""
        />
        <a class="navbar-brand ml-1" href="#">Réseau</a>
      </div>

      <div class="col mt-3">
        <h5>Contact</h5>
        <p>
          Department of Computing <br>
          University of the West Indies Mona <br>
          Kingston, Jamaica
        </p>
          <p>Tel: (876) 702-4455</p>
        </p>
      </div>
      <div class="col mt-3">
        <h5>Links</h5>
        <p>
          <a href="https://www.mona.uwi.edu/compsci/" class = "footer-link"  target="_blank"> Computing Department </a>
        </p>
      </div>
    </div>
  </div>
</footer>