{% extends "sidebar.html" %} {% block div %}
<div>
  <div class="page_header">
    <h2 class="dash_header">{{ fullSet['set_name'] }}</h2>
    <h3 class="grp_header basic-heading mt-4">Purpose: {{ fullSet['purpose'] }} </h3>

      <a class="ml-0">
          <img
          src="/static/images/transfer.png"
          class="reload grow"
          
          data-toggle="modal" 
          data-target="#transferModal" 
          id="transferMembers"
        />
      </a>
  </div>

<!-- MODAL TO TRANSFER MEMBERS -->
  <div class="modal fade" id="transferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="PopUpTitle">Transfer a Member</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p class="mb-0 instruct">NB: Group Leaders cannot be transferred to another group.</p>
          <p class="mb-4 instruct">Minimum 2 persons per group.</p>
          <form
          method="post"
          action="{{ url_for('groupMembers', sid = fullSet['sid']) }}"
        >

        {{ transfer.csrf_token }}
        <div class="row">
          <div class = "col-5 mr-3">
            {{ transfer.first_name.label(class='control-label mr-2') }}
            {{ transfer.first_name(class='mydropdown mr-2') }}
          </div>
          <div class = "col-5 ml-3">
            {{ transfer.last_name.label(class='control-label mx-2') }}
            {{ transfer.last_name(class='mydropdown') }}
          </div>
        </div>
          
        <div class="row mt-4 mb-3">
          <div class = "col-6">
            {{ transfer.group_number.label(class='control-label mr-2') }}
            {{ transfer.group_number(class='mydropdown') }}
          </div>

        </div>
         

       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          
            <input type="submit" value="Save" class="btn btn-primary" />
         
        </div>
        
      </form>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  {% include 'flash_messages.html' %}
  <br>
<br>
  <form
    method="post"
    action="{{ url_for('groupMembers', sid = fullSet['sid']) }}"
  >
  {{ numb.csrf_token }}
          <div class="row">
            {{ numb.group_num.label(class='control-label mr-2') }}
            <div>
              {{ numb.group_num(class='mydropdown') }}
            </div>

            <div>
              <input type="submit" value="Go" class="btn ok-sml" />
            </div>
          </div>
  </form>
  <br>
  <br>

</div>
<br>
<span class="" id="PercentageHolder"></span>
<span class="ml-5" id="CSIHolder"></span>
<span class="ml-5" id="MaxHolder"></span>
<br>
<br>
{% if mems %}
<div class="row">
      {% for member in mems %}
      <div class="col-4 mb-4">
        <button class="member-tile">
          <div class="py-3"> {% if member['leader'] == 1 %}
            Main Member- {{ member['first_name']}} {{member['last_name']}} 
            {% else %}
            {{ member['first_name']}} {{member['last_name']}} 
            {% endif %}
          </div>
        </button>
      </div>
      {% endfor %}
    </div>

        <button
          id="getmems"
          data-id="{{ cur_set.CSI }} {{ cur_set.percentage }} {{
            cur_set.personality_score }} {{ cur_set.leadership_score }} {{
            cur_set.hobby_score }} {{ cur_set.gender_score }} {{ cur_set.age_score }} {{
            cur_set.height_score }} {{ cur_set.ethnicity_score }} {{
            cur_set.education_score }} {{ cur_set.occupation_score }} {{cur_set.amount}}"
          id="getuser"
          class="btn recom"
          onclick="document.getElementById('getmems').style.display ='none';"
        >
          View More Details
        </button>

        <canvas id="myChart" width="800" height="350" class="mb-4"></canvas>
  </div>

  <script>
    $(document).on("click", "#getmems", function () {
      var id = $(this).attr("data-id"); //data-id of button
      var array = id.split(" ");

      divide_by = parseInt(array[11])
      if (divide_by >= 2) {
        divide_by = divide_by 
      }

      cscore = parseFloat((array[0])/divide_by).toFixed(5);
      perc = parseFloat((array[1])/divide_by).toFixed(1);

      $("#CSIHolder").html("CSI: " + cscore);
      $("#MaxHolder").html("Max: 9");
      $("#PercentageHolder").html("Percentage: " + perc +  "%");
      

      var ctx = document.getElementById("myChart");

      //Global
      Chart.defaults.scale.gridLines.drawOnChartArea = false;

      let firstValues = [
        parseInt(parseFloat(array[2])/divide_by * 100),
        parseInt(parseFloat(array[3])/divide_by * 100),
        parseInt(parseFloat(array[4])/divide_by * 100),
        parseInt(parseFloat(array[5])/divide_by * 100),
        parseInt(parseFloat(array[6])/divide_by * 100),
        parseInt(parseFloat(array[7])/divide_by * 100),
        parseInt(parseFloat(array[8])/divide_by * 100),
        parseInt(parseFloat(array[9])/divide_by * 100),
        parseInt(parseFloat(array[10])/divide_by * 100),
        parseInt(parseFloat(array[11])/divide_by * 100),
      ];
      let firstlabels = [
        "Personality",
        "Leadership",
        "Hobby",
        "Sex",
        "Age",
        "Height",
        "Ethnicity",
        "Education",
        "Occupation",
      ];
      initial = {
        labels: firstlabels,
        datasets: [
          {
            label: "Scores",
            data: firstValues,
            backgroundColor: [
              "#4E77D2",
              "#7EA2F3",
              "#ABC5FE",
              "#D8E4FF",
              "#4E77D2",
              "#7EA2F3",
              "#ABC5FE",
              "#D8E4FF",
            ],
            borderColor: ["#4E77D2", "#7EA2F3", "#ABC5FE", "#D8E4FF"],
            borderWidth: 1,
            maxBarThickness: 16,
          },
        ],
      };

      var myChart = new Chart(ctx, {
        type: "horizontalBar",
        data: initial,
        options: {
          responsive: false,
          maintainAspectRatio: this.maintainAspectRatio,
          title: {
            display: true,
            text: "Stats",
            fontSize: 18,
          },
          legend: {
            display: false,
            labels: {
              // This more specific font property overrides the global property
              fontColor: "rgba(0, 0, 0, 0.8)",
              fontFamily: "Monserrat",
              fontsize: 16,
              fontColor: "red",
            },
          },
          tooltips: {
            enabled: true,
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
            xAxes: [
              {
                stacked: true,
                scaleLabel: {
                  labelString: "Compatibility",
                  display: true,
                  fontSize: 16,
                },
              },
            ],
          },
        },
      });
    });
  </script>
</div>
{% endif %}
{% endblock %}