{% extends "base.html" %} {% block main %}
<div class="register-form center-block">
  <img
    src="../static/images/Footer Logo.png"
    class="d-inline-block align-top mt-5"
    alt=""
  />
  <h2 class="mb-5 mt-3">User Registration</h2>
  <form class="card-user-reg mb-5" method="POST">
    {{ form.csrf_token }}
    <div class="row my-2">
    
    </div>
    <div class="form-body">
      <div class="row mt-5">
        <div class="col">
          <div class="form-group">
            {{ form.fname.label }} {{ form.fname(class='form-control') }} {% if
            form.fname.errors %}
            <ul class="errors">
              {% for error in form.fname.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.lname.label }} {{ form.lname(class='form-control') }} {% if
            form.lname.errors %}
            <ul class="errors">
              {% for error in form.lname.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group mt-3">
            {{ form.email.label }} {{ form.email(class='form-control email',
            placeholder="name@example.com") }} {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <div class="form-group">
            {{ form.username.label }} {{ form.username(class='form-control
            email') }} {% if form.username.errors %}
            <ul class="errors">
              {% for error in form.username.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <div class="form-group">
            {{ form.password.label }} {{ form.password(class='form-control') }}
            {% if form.password.errors %}
            <ul class="errors">
              {% for error in form.password.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.confirmPassword.label }} {{
            form.confirmPassword(class='form-control') }} {% if
            form.confirmPassword.errors %}
            <ul class="errors">
              {% for error in form.confirmPassword.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row my-2">
        <div class="col mt-5 mb-4">
          {{ form.submit(class='btn btn-outline-success my-2 my-sm-0') }}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
