{% extends "sidebar.html" %} {% block div %}
<div class="page_header mb-4">
  <h2 class="dash_header">Feature Profile</h2>
  {% include 'flash_messages.html' %}
</div>
{% if user.age %}
    <p class="grp_header text-center ml-3 mb-5">
        If you wish to make changes to your features, click the pencil icon  
        <img
        src="/static/images/edit (2).png"
        width="18"
        height="18"
        class="d-inline-block align-top ml-1 mr-1 grow"
        /> 
        at the top-right of the sidebar
    </p>

    <div class = "row mt-5 ml-5">
        <div class = "col-4 text-center">
            <img class="" src="/static/images/age.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.age}} years
            </div>
            
        </div>
        <div class = "col-4 text-center">
            <img class="" src="/static/images/height.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.height}} cm
            </div>
        </div>
        <div class = "col-4 text-center">
            <img class="" src="/static/images/skin.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.ethnicity}}
            </div>
        </div>
    </div>

    <div class = "row ml-5">
        <div class = "col-4 text-center">
            <img class="" src="/static/images/gender.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.sex}}
            </div>
        </div>
        <div class = "col-4 text-center">
            <img class="" src="/static/images/executive.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.leadership}}
            </div>
        </div>
        <div class = "col-4 text-center">
            <img class="" src="/static/images/emotions.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.personality}}
            </div>
        </div>
    </div>

    <div class = "row ml-5">
        <div class = "col-4 text-center">
            <img class="" src="/static/images/graduation.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.education}}
            </div>
        </div>
        <div class = "col-4 text-center">
            <img class="" src="/static/images/soccer.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.hobby}}
            </div>
        </div>
        <div class = "col-4 text-center">
            <img class="" src="/static/images/doctor.png" alt="Card image cap" width = "50" height = "50">
            <div class="card-body">
                {{user.occupation}}
            </div>
        </div>

    </div>
{% else %}
<div class="alert alert-primary mt-5">
    You have yet to enter your features, click the pencil icon  
    <img
    src="/static/images/edit (2).png"
    width="18"
    height="18"
    class="d-inline-block align-top ml-1 mr-1 grow"
    /> 
    at the top-right of the sidebar :
    
  </div>

{% endif %}
<hr>
<div class = "contact">
    <b>email:</b> {{ user.email }}
</div>



{% endblock %}